# IDE
.vs/
.vscode/
.idea/
*.swp
*.swo

# Build & Dependencies
bin/
obj/
node_modules/
dist/
dist-ssr/

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
